In [1]:
import csv

In [4]:
data=list(csv.reader(open('guns.csv','r')))

In [11]:
data[1:4]

[['1',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '34',
  'Asian/Pacific Islander',
  '100',
  'Home',
  '4'],
 ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'],
 ['3',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '60',
  'White',
  '100',
  'Other specified',
  '4']]

In [12]:
headers=data[0]

In [13]:
headers

['',
 'year',
 'month',
 'intent',
 'police',
 'sex',
 'age',
 'race',
 'hispanic',
 'place',
 'education']

In [14]:
data=data[1:]

In [16]:
data[:4]

[['1',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '34',
  'Asian/Pacific Islander',
  '100',
  'Home',
  '4'],
 ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'],
 ['3',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '60',
  'White',
  '100',
  'Other specified',
  '4'],
 ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

In [17]:
years=[]

In [18]:
for row in data:
    years.append(row[1])

In [ ]:
years

In [20]:
years_counts={}

In [21]:
type(years_counts)

dict

In [29]:
for year in years:
    if year in years_counts:
        years_counts[year]+=1
    else:
        years_counts[year]=0

In [30]:
years_counts

{'2012': 33562, '2013': 33635, '2014': 33598}

In [52]:
import datetime
dates=[]
for row in data:
    date=datetime.datetime(year=int(row[1]),
                           month=int(row[2],
                                     day=1)
    dates.append(date)

SyntaxError: invalid syntax (<ipython-input-52-04ebb259056b>, line 7)

In [51]:
import datetime
date = datetime.datetime(year=2016, month=12, day=1)

In [53]:
date

datetime.datetime(2016, 12, 1, 0, 0)

In [54]:
dates=[]
for row in data:
    date=datetime.datetime(year=int(row[1]),month=int(row[2]),day=1)
    dates.append(date)

In [59]:
dates[:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [62]:
date_counts={}
for date in dates:
    if date in date_counts:
        date_counts[date]+=1
    else:
        date_counts[date]=1

In [63]:
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

In [75]:
kisan=set()
for row in data:
    kisan.add(row[7])

In [76]:
kisan

{'Asian/Pacific Islander',
 'Black',
 'Hispanic',
 'Native American/Native Alaskan',
 'White'}

In [69]:
set_counts={}
for row in data:
    if row[5] in set_counts:
        set_counts[row[5]]+=1
    else:
        set_counts[row[5]]=1

In [70]:
set_counts

{'F': 14449, 'M': 86349}

In [79]:
race_counts={}
for row in data:
    if row[7] in race_counts:
        race_counts[row[7]]+=1
    else:
        race_counts[row[7]]=1

In [80]:
race_counts

{'Asian/Pacific Islander': 1326,
 'Black': 23296,
 'Hispanic': 9022,
 'Native American/Native Alaskan': 917,
 'White': 66237}

In [81]:
#males are more

In [82]:
#black and white people are more

In [83]:
census=list(csv.reader(open('census.csv')))

In [88]:
census

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

In [93]:
mapping={
    'Asian/Pacific Islander':15159516+674625,
    'Black':40250635,
    'Native American/Native Alaskan':3739506,
    'Hispanic':44618105,
    'White':197318956 
    
    
    
    
}

In [94]:
mapping

{'Asian/Pacific Islander': 15834141,
 'Black': 40250635,
 'Hispanic': 44618105,
 'Native American/Native Alaskan': 3739506,
 'White': 197318956}

In [96]:
race_per_hundreadk={}
for race in race_counts:
    race_per_hundreadk[race]=(race_counts[race]/mapping[race])*100000

In [97]:
race_per_hundreadk

{'Asian/Pacific Islander': 8.374309664161762,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907,
 'Native American/Native Alaskan': 24.521955573811088,
 'White': 33.56849303419181}

In [98]:
intents=[]
for row in data:
    intents.append(row[3])

In [104]:
intents[2]

'Suicide'

In [100]:
races=[]
for row in data:
    races.append(row[7])

In [102]:
homicide_race_counts={}

In [118]:
for i,race in enumerate(races):
    if intents[i]=='Homicide':
        if race in homicide_race_counts:
            homicide_race_counts[race]+=1
        else:
            homicide_race_counts[race]=1

In [119]:
homicide_race_counts

{'Asian/Pacific Islander': 559,
 'Black': 19510,
 'Hispanic': 5634,
 'Native American/Native Alaskan': 326,
 'White': 9147}

In [120]:
for race in homicide_race_counts:
    homicide_race_counts[race]=homicide_race_counts[race]/mapping[race]*100000

In [121]:
homicide_race_counts

{'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Hispanic': 12.627161104219914,
 'Native American/Native Alaskan': 8.717729026240365,
 'White': 4.6356417981453335}

In [125]:
''''''top 3 are black , hispanic ,american
dfsdfdsf
''''''

SyntaxError: invalid syntax (<ipython-input-125-10148839340f>, line 1)